DB_HOST=192.168.1.212
DB_PORT=5432
DB_NAME=metabase
DB_USER=metabase
DB_PASSWORD=change-this-password
FLASK_SECRET_KEY=change-this-secret
REFERENCE_API_BASE_URL=http://127.0.0.1:8766
REFERENCE_API_KEY=your-secret
UPLOAD_API_BASE_URL=http://127.0.0.1:8766
UPLOAD_API_KEY=your-secret
FLASK_HOST=127.0.0.1
PORT=5000
